__pycache__/
dist/
build/
.env
.venv/
venv/
.vscode/
.idea/

*.log
*.swp
.DS_Store

# Local folder/files
browser_data/
log/
mitm_config/
temp/
/models/*
test/
/dev_docs
/_*.py
/settings*.json

account_switch/*
