__pycache__/
dist/
build/
.env
.venv/
venv/
.vscode/
.idea/

*.log
*.swp
.DS_Store
*.build
*.dist

# Local folder/files
browser_data/
log/
mitm_config/
temp/
/models/*
test/
/dev_docs
/_*.py
MahjongCopilot.spec
/settings*.json
libriichi3p/*.pyd
libriichi3p/*.so
chrome_ext/*/
